{% extends 'base.html' %}
{% block content %}


<section class="content">
<section class="content-header">
  <h1 ><i class="fa fa-cubes text-primary" aria-hidden="true">  Get Vaccine List</i></h1>
</section>
<!--Start content-->

<section class="content-header">
<div class="box box-primary mt-2">
    <div class="box-header with-border" style="text-align: end;">
        <a href="{{url_for("add_vaccine")}}" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true">  Add Vaccine </i></a>
    </div>
    <!--Start form card -->
    <div class="box-body">
        <div class="box-body table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                        <th width="10%">NO</th>
                        <th width="20%">Date</th>
                        <th width="20%">Stall No</th>
                        <th width="20%">Cow Number</th>
                        <th width="20%">Remark</th>
                        <th width="20%">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for dt in data.items %}
                      <tr style="color: #565050;">
                        <td>{{loop.index}}</td>
                        <td>{{dt.date}}</td>
                        <td>{{dt.stall.stall_number}}</td>
                        <td>{{dt.cow.cow_no}}</td>
                        <td>{{dt.remark}}</td>
                        <td>
                          <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#exampleModal{{dt.id}}" 
                          data-whatever=" Cow"><i class="fa fa-eye" aria-hidden="true"></i></button>
                              <!-- start of modal -->
                  <div class="modal fade" id="exampleModal{{dt.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog ">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-info" id="exampleModalLabel{{dt.id}}"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Vaccine Detail</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                          <table class="table  table-striped" >
                            <thead>
                              <tr>
                                <th scope="col">Vaccine Name</th>
                                <th scope="col">Remark</th>
                                <th scope="col">Time</th>
                              </tr>
                            </thead>
                            <tbody>
                            
                             <tr>
                                <td>{{dt.vaccinetype.vaccine_name}}</td>
                                <td>{{dt.remark}}</td>
                                <td>{{dt.time}}</td>
                            </tr>
                          
                            </tbody>
                          </table>
                        </div>
                       
                      </div>
                      
                    </div>
                  </div>



                  <!-- end of modal -->  

                 
                  <button class="btn btn-sm btn-danger" data-toggle="modal"  
                  data-target="#exampleModal2{{dt.id}}" 
                  data-bs-whatever="User" ><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        </td>
                        </tr>
                      <!-- start modal hapus -->
                  <div class="modal fade" id="exampleModal2{{dt.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title text-primary" id="exampleModalLabel"><i class="bi bi-info-square-fill"></i> Delete Cow Vaccine </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                       <h5>Do you want to delete your data?</h5>
                       <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a href="{{url_for("delete_getVac",id = dt.id)}}" type="submit" class="btn btn-danger">Yes</a>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                         
                      {% endfor %}
            </tbody>
       
       
          </table>


        </div>


                    <!-- start modal hapus -->
                    <section class="content-header">
                  <div class="row mt-3">
                    <div class="col-lg-7">
                      <p style="color:  #4581bd;">showing <b><i>{{data.page}}</i></b> to <b><i>{{data.pages}}</i></b> of <b><i>{{data.pages}}</i></b> entries 
                      </div>
                    <div class="col-lg-5 justify-content-end">
                      <a  href="{{url_for("vaccine", page=data.prev_num)}}" class="btn btn-primary  btn-sm 
                      {% if data.page == 1 %}disabled{% endif %}
                      ">
                      Prevous
                    </a>
                  {% for page_num  in data.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                  
                  {% if page_num %}
                      {% if data.page == page_num %}
                        <a href="{{url_for("vaccine", page = page_num)}}" class="btn btn-primary  btn-sm">{{page_num}}</a>
                      {% else %}
                        <a href="{{url_for("vaccine", page = page_num)}}" class="btn btn-primary  btn-sm">{{page_num}}</a>
                      {% endif %}
                  {% else %}
                  ...
                  {% endif %}
                  {% endfor %}
                    <a href="{{url_for("vaccine", page=data.next_num)}}" class="btn btn-primary  btn-sm 
                    {% if data.page == data.pages %}disabled{% endif %} ">
                    Next
                  </a>
                    </div>
                  </div>
                </section>
                <!-- end  -->
      
    </div>
    <!--End form card-->
</div>
</section>


</section>
<!--End Content-->

{% endblock %}

