<h4 class="text-center text-primary">Cow Detail</h4>
<hr>
<div class="row">
    
    <div class="col-lg-6">
        <img src="{{url_for("static", filename="/img/"+data.cow_img)}}" 
        class="img-thumbnail mt-3 "
         style="width: 480px; height:350px; object-fit:fill ; border: 2px solid #ada4a4;"
          alt="Cow Image"/>
    </div>
    <div class="col-lg-5 mt-3">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Date of Birthday</td>
                    <td>{{data.date_of_birth}}    
                </tr>
                <tr>
                    <td>Animal Live Age</td>
                    <td>{{data.animal_age}}    
                </tr>
                <tr>
                    <td>Buy Time to Current</td>
                    <td>{{data.buy_date}}    
                </tr>
                <tr>
                    <td>Animal Gender</td>
                    <td>{{data.gender}}    
                </tr>
                <tr>
                    <td>Animal Type</td>
                    <td>{{data.animaltype.type_name}}    
                </tr>
                <tr>
                    <td>Breeding Status</td>
                    <td class="text-primary "><i>{{data.pregnant_status}}</i></td>
                </tr>
                
            </tbody/>
        </table>
    </div>
    <div class="col-lg-1">
        
    </div>
</div>
