<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Get PDF</title>
</head>

<body>
      
<br><br><br>

        <div style="text-align: center;">
            <div>
              
                <h4 class="text-primary">{{current_user.farmname}}</h4>
                <h6 class="text-primary">Milk Collection Report</h6>
                <p>From Date: {{date_from}} - {{date_to}}</p>
            </div>
        </div>


        <div class="">
            <table class="table table-bordered btn-sm">
                <thead>
                    <tr style="background: #d2d1d3;">
                        <th>No</th>
                        <th>Date</th>
                        <th >Stall No</th>
                        <th style="text-align:start;">Milk Lite</th>
                    </tr>   
                </thead>
                <tbody>
                    {% for dt in data %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{dt.date}}</td>
                            <td >{{dt.stall_no}}</td>
                            <td style="text-align:start;">{{dt.totalmilk}}</td>

                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td style="text-align:end; color: #21e064">Total Milk: </td>
                        <td style="color:#efaa32;">{{total}} Lite</td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
   

   
</body>

</html>