<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dairy Farm Management: Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon-96x96.png">

</head>
<body>
    <section class="vh-100" style="background-color: #025A6C">
      <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
             <div class="col col-lg-4">
                <div class="card" style="border: raduis 1re;" class="bg-danger">
                    <div class="row g-0 justify-content-center" style="background-color: #CCDEE2;">
                      <div class="col text-center">
                          <img src="{{url_for("static", filename="img/logo.png")}}" style="width: 125px;">
                          <h4>Dairy Farm Management System</h4>
                          <form action="" method="post" novalidate>
                            {{form.hidden_tag()}}
                        <div class="row m-4">
                          {% if form.email.errors %}
                          {{form.email(class="form-control p-3 border border-secondary is-invalid" ,style="background-color: #C2D4D7" , placeholder="Email") }}
                        {% for error in form.email.errors %}
                            <div class="invalid-feedback">
                                <span>{{error}}</span>
                            </div>
                        {% endfor %}
                          
                          {% else %}
                          {{form.email(class="form-control p-3 border border-secondary" ,style="background-color: #C2D4D7" , placeholder="Email") }}
                        
                          {% endif %}
                        
                    </div>
                        

                        <div class="row m-4">
                            {% if form.password.errors %}
                            {{form.password(class="form-control p-3 border border-secondary is-invalid" ,style="background-color: #C2D4D7" , placeholder="Password") }}
                            {% for error in form.password.errors %}
                                <div class="invalid-feedback">
                                    <span>{{error}}</span>
                                </div>
                            {% endfor %}
                            {% else %}
                            {{form.password(class="form-control p-3 border border-secondary" ,style="background-color: #C2D4D7" , placeholder="Password") }}
                        
                            
                            {% endif %}
                            
                        </div>

                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                          <ul class=flashes>
                          {% for category, message in messages %}
                            <span class=" {{ category }}">{{ message }}</span>
                          {% endfor %}
                          </ul>
                        {% endif %}
                      {% endwith %}

                      <div class="form-check  m-4 d-flex  justify-content-start">
                        {{form.remember(class="form-check-input mr-2" ,style="background-color: #C2D4D7")}}
                        {{form.remember.label(class="form-check-label mx-lg-2")}}
                      </div>
                       
                        <div class="row m-4">
                            {{form.submit(class="btn btn-secondary  p-3",placeholder="Email",style="color:#ffff background-color: #025A6C")}}
                        </div>
                        <div class="">
                            <span>Don't have account? <a href="{{url_for("Register")}}" style="color: #03b240; text-decoration: none;"><b>SignUp</b></a></span>
                        </div>
                        <br>

                    </form>
                      </div>
                      
                    </div>
                   
                </div>
             </div>
          </div>
      </div>
    </section>
</body>
</html>